# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual env
.venv/
venv/

# Env files (NO subir credenciales)
.env

# SQLite db (si lo usas)
*.db
*.sqlite3

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db
